---
layout: page
title: Categories
header: Posts By Category
group: navigation
pagename: blog
---
{% include JB/setup %}

<!-- Navigation links -->
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-default" href="/archive.html"><i class="icon icon-time"></i> Archive</a>
    <a class="btn btn-default active" href="/categories.html"><i class="icon icon-folder-open"></i> Categories</a>
    <a class="btn btn-default" href="/tags.html"><i class="icon icon-tags"></i> Tags</a>
  </div>
</div>

<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

