---
layout: page
title: FannyPack
tagline: a suite of &#35;gamedev tools
description: FannyPack is a suite of &#35;gamedev tools.
pagename: fonts
isApp: true
scripts: [
    options,
    layers,
    editor,
    search,
    fontManager,
    ui-events/left/options,
    ui-events/right/tabs,
    ui-events/right/layers,
    ui-events/toolbar,
    ui-events/palette,
    ui-events/workspace,
    ui-events/events]
---
{% include JB/setup %}

{% include app-fragments/fonts/toolbar.html %}

<div id="divSidebarLeft" class="divSidebarLeft">
    {% include app-fragments/fonts/left-nav/options.html %}
</div>

{% include app-fragments/fonts/workspace/toolbar.html %}

<div id="divWorkspace" class="divWorkspace">
    {% include app-fragments/fonts/workspace/content.html %}
</div>

<div class="divSidebarRightTop">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100%; border:1px; vertical-align:top;">
        <tr><td>
            <ul id="tabSidebarRightTop" class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" title="Fonts"><i class="fa fa-font"></i> Fonts</a></li>
                <li role="presentation"><a href="#" title="Console"><i class="fa fa-bell"></i> Console <span id="lblConsoleCount" class="badge badge-default">0</span></a></li>
            </ul>
        </td></tr>
        <tr><td>
            <div id="divRightTopToolbars" style="display:none;"></div>
            {% include app-fragments/fonts/right-nav/fonts-toolbar.html %}
            {% include app-fragments/fonts/right-nav/console-toolbar.html %}
        </td></tr>
        <tr><td style="height:100%">
            <div style="width:100%; height: 100%; margin:0; padding:0; background-color:#fff; overflow:auto;">
                <div id="divRightTopLists" style="display:none;"></div>
                {% include app-fragments/fonts/right-nav/fonts-content.html %}
                {% include app-fragments/fonts/right-nav/console-content.html %}
            </div>
        </td></tr>
    </table>
</div>

<div class="divSidebarRightBottom">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100%; border:1px; vertical-align:top;">
        <tr><td style="line-height:40px; padding-left:20px; border-bottom:1px solid #bbb;">
            <i class="fa fa-bars"></i> Properties
        </td></tr>
        <tr><td style="height:100%">
            <div style="width:100%; height: 100%; margin:0; padding:0; overflow:auto;">
                <div id="divRightBottomLists" style="display:none;"></div>
                {% include app-fragments/fonts/right-nav/properties-content.html %}
            </div>
        </td></tr>
    </table>
</div>

{% include app-fragments/fonts/dialogs/fontPicker.html %}

<script type="text/javascript">

    var BASE_PAGE = "{{ BASE_PAGE }}";
    var getHostElementUsingJQuery = function(selector) { return $(selector); }
    var logInfo = function (e) { /* console.log(e); */ };

</script>