---
layout: page
title: FannyPack
tagline: a suite of &#35;gamedev tools
description: FannyPack is a suite of &#35;gamedev tools.
pagename: fonts
isApp: true
scripts: [
    options,
    layers,
    editor,
    search,
    ui-events/left/options,
    ui-events/right/tabs,
    ui-events/right/layers,
    ui-events/toolbar,
    ui-events/palette,
    ui-events/workspace,
    ui-events/events]
---
{% include JB/setup %}

{% include app-fragments/fonts/toolbar.html %}

<div id="divSidebarLeft" class="divSidebarLeft">
    {% include app-fragments/fonts/left-nav/options.html %}
</div>

{% include app-fragments/fonts/workspace/toolbar.html %}

<div id="divWorkspace" class="divWorkspace">
    {% include app-fragments/fonts/workspace/content.html %}
</div>

<div class="divSidebarRightTop">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100%; border:1px; vertical-align:top;">
        <tr><td>
            <ul id="tabSidebarRightTop" class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" title="Fonts"><i class="fa fa-font"></i> Fonts</a></li>
                <li role="presentation"><a href="#" title="Console"><i class="fa fa-bell"></i> Console <span id="lblConsoleCount" class="badge badge-default">0</span></a></li>
            </ul>
        </td></tr>
        <tr><td>
            <div id="divRightTopToolbars" style="display:none;"></div>
            {% include app-fragments/fonts/right-nav/fonts-toolbar.html %}
            {% include app-fragments/fonts/right-nav/console-toolbar.html %}
        </td></tr>
        <tr><td style="height:100%">
            <div style="width:100%; height: 100%; margin:0; padding:0; background-color:#fff; overflow:auto;">
                <div id="divRightTopLists" style="display:none;"></div>
                {% include app-fragments/fonts/right-nav/fonts-content.html %}
                {% include app-fragments/fonts/right-nav/console-content.html %}
            </div>
        </td></tr>
    </table>
</div>

<div class="divSidebarRightBottom">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100%; border:1px; vertical-align:top;">
        <tr><td style="line-height:40px; padding-left:20px; border-bottom:1px solid #bbb;">
            <i class="fa fa-bars"></i> Properties
        </td></tr>
        <tr><td style="height:100%">
            <div style="width:100%; height: 100%; margin:0; padding:0; overflow:auto;">
                <div id="divRightBottomLists" style="display:none;"></div>
                {% include app-fragments/fonts/right-nav/properties-content.html %}
            </div>
        </td></tr>
    </table>
</div>

{% include app-fragments/fonts/dialogs/fontPicker.html %}

<script type="text/javascript">

    var vendors = [];
    var loadedFonts = loadedFonts || [];
    var addedFontNamesAndSizes = [];
    var selectedFontIndex = -1;

    var DEFAULT_CHARLIST_KEY = "{default}";

    var createFontsListDivItem = function(fontNameAndSize) {
        var parts = fontNameAndSize.split("|");
        var fontName = parts[0];
        var fontSize = parts[1];

        var $divItem = $("<div>").addClass("divFontsListItem");
        var $divSample = $("<div>")
                .addClass("sample")
                .html(fontName)
                .css({"font-family": escapeFontFaceName(getPostScriptName(fontName))});
        var $divInfo = $("<div>").addClass("info").text(fontName + " @ " + fontSize + ", default glyphs");
        var $divHidden = $("<div>").addClass("values").css("display", "none").html(
                "<input type='hidden' class='fontName' value='" + fontName + "' />" +
                "<input type='hidden' class='fontSize' value='" + fontSize + "' />" +
                "<input type='hidden' class='charList' value='" + DEFAULT_CHARLIST_KEY + "' />"
        );

        return $divItem
                .append($divSample)
                .append($divInfo)
                .append($divHidden);
    };

    var escapeFontFaceName = function(name) {
        var result = (name || "").replace(/[!\.\[\]&\s]/g, "-");
        return "fp-" + result;
    };

    var getPostScriptName = function(fontName) {
        var index = indexByFont[fontName];
        if(index && index.length > 0) {
            var indexes = index[0].split("/");
            if (indexes && indexes.length > 3) {
                var v = vendors[indexes[0]];
                var l = v.licenses[indexes[1]];
                var ff = l.fontFamilies[indexes[2]];
                var f = ff.fonts[indexes[3]];
                return f.postScriptName;
            }
        }
        return undefined;
    };

    var loadSelectedFonts = function() {
        if(selectedFonts && selectedFonts.length > 0) {
            // TODO: see if font is loaded in "loadedFonts". Load if not.
            for(var i = 0; i < selectedFonts.length; i++) {
                var fontNameAndSize = selectedFonts[i];
                var parts = fontNameAndSize.split("|");
                var fontName = parts[0];
                var fontSize = parts[1];

                var containsFontName = ~loadedFonts.indexOf(fontName);
                if(!containsFontName) {
                    loadedFonts.push(fontName);
                    // TODO: load font
                }

                var containsNameAndSize = ~addedFontNamesAndSizes.indexOf(fontNameAndSize);
                if(!containsNameAndSize) {
                    addedFontNamesAndSizes.push(fontNameAndSize);
                    if(addedFontNamesAndSizes.length === 1) { $("#divFontsList").html(""); }
                    $("#divFontsList").append(createFontsListDivItem(fontNameAndSize));
                }
            }
        }
        console.log(addedFontNamesAndSizes);
    };

    window.onload = function() {
        $('#popupFontPickerModal').modal({ show:false });
        $('#popupFontPickerModal').on('shown.bs.modal', function () {
            setTimeout(function(){
                var docHeight = $("#popupFontPickerModal").height();
                var modHeight = $("#popupFontPickerModalDialog").height();
                var bodHeight = $("#popupFontPickerModalBody").height();
                var modPosTop = $("#popupFontPickerModalDialog").offset().top;
                var height = docHeight
                        - (modHeight - bodHeight)
                        - modPosTop * 2;
                $("#popupFontPickerModalBody").css("height", height + "px");
            }, 5);
        });

        $.getJSON(
                "{{BASE_PAGE}}/assets/data/fontlist.json",
                null,
                function(data, textStatus, jqXHR) {
                    vendors = data;
                    initSearchIndexes();
                    initTypeahead();
                    fontNamesThatMatchAllFilters("");
                }
        );

        $("#cmdSelectFonts").click(function() {
            $("#frameFontPicker").prop("src", "fontPickerFrame.html");
            $("#popupFontPickerModal").modal("show");
        });

        $("#popupFontPickerModalFooter").find("button.btn-primary").click(function(e){
            loadSelectedFonts();
            $("#frameFontPicker").prop("src", "");
            $("#popupFontPickerModal").modal("hide");
        });
    }
</script>