---
layout: default
title: FannyPack
tagline: a suite of &#35;gamedev tools
description: FannyPack is a suite of &#35;gamedev tools.
pagename: blog
---
{% include JB/setup %}

<!-- Pagination links -->
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-default" href="/archive.html"><i class="icon icon-time"></i> Archive</a>
    <a class="btn btn-default" href="/categories.html"><i class="icon icon-folder-open"></i> Categories</a>
    <a class="btn btn-default" href="/tags.html"><i class="icon icon-tags"></i> Tags</a>
  </div>
  <div class="btn-group">
  {% if paginator.previous_page %}
    <a class="btn btn-default" href="/page{{ paginator.previous_page }}"><i class="icon icon-chevron-left"></i> PREV</a>
  {% else %}
    <a class="btn btn-default disabled" href="#null"><i class="icon icon-chevron-left"></i> PREV</a>
  {% endif %}
    <a class="btn btn-default disabled" href="#null">Page {{ paginator.page }} of {{ paginator.total_pages }}</a>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="/page{{ paginator.next_page }}">NEXT <i class="icon icon-chevron-right"></i></a>
  {% else %}
    <a class="btn btn-default disabled" href="#null">NEXT <i class="icon icon-chevron-right"></i></a>
  {% endif %}
  </div>
</div>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span style="font-size:0.8em; font-weight:bold;">{{ post.date | date: "%A, %F" }} at {{ post.date | date: "%r %Z" }} by <a href="https://github.com/groundh0g" target="_blank">@groundh0g</a></span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  
  {% if forloop.last != true %}
	<hr/>
  {% endif %}
  
{% endfor %}

<!-- Pagination links -->
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-default" href="/archive.html"><i class="icon icon-time"></i> Archive</a>
    <a class="btn btn-default" href="/categories.html"><i class="icon icon-folder-open"></i> Categories</a>
    <a class="btn btn-default" href="/tags.html"><i class="icon icon-tags"></i> Tags</a>
  </div>
  <div class="btn-group">
  {% if paginator.previous_page %}
    <a class="btn btn-default" href="/page{{ paginator.previous_page }}"><i class="icon icon-chevron-left"></i> PREV</a>
  {% else %}
    <a class="btn btn-default disabled" href="#null"><i class="icon icon-chevron-left"></i> PREV</a>
  {% endif %}
    <a class="btn btn-default disabled" href="#null">Page {{ paginator.page }} of {{ paginator.total_pages }}</a>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="/page{{ paginator.next_page }}">NEXT <i class="icon icon-chevron-right"></i></a>
  {% else %}
    <a class="btn btn-default disabled" href="#null">NEXT <i class="icon icon-chevron-right"></i></a>
  {% endif %}
  </div>
</div>
