<div id="divSidebarToolsLeft" class="divSidebarToolsLeft">
    <table style="width:100%;">

        <tr><td>
            <button id="cmdSelectTiles" class="btn btn-info active" title="Select Tiles"><i class="fa fa-location-arrow"></i></button><br/>
            <button id="cmdSelectMagic" class="btn btn-default"     title="Magic Select" ><i class="fa fa-magic"></i></button><br/>
            <br/>
            <button id="cmdDrawTiles"  class="btn btn-default"><i class="fa fa-paint-brush"></i></button><br/>
            <button id="cmdDrawStamp"  class="btn btn-default"><i class="fa fa-paw"></i></button><br/>
            <button id="cmdDrawErase"  class="btn btn-default"><i class="fa fa-eraser"></i></button><br/>
            <button id="cmdPickTile"   class="btn btn-default"><i class="fa fa-eyedropper"></i></button><br/>
            <br/>
            <button id="cmdDrawObject" class="btn btn-default"><i class="fa fa-cube"></i></button><br/>
            <button id="cmdDrawActor"  class="btn btn-default"><i class="fa fa-user"></i></button><br/>
            <button id="cmdDrawPath"   class="btn btn-default"><i class="fa fa-code-fork"></i></button><br/>
        </td></tr>
    </table>
</div>
