<div class="" style="background-color:#eee; padding:5px 0px; margin:0;">
    <div style="margin-left:0; margin-right:0;">
        <div class="btn-toolbar" role="toolbar" style="margin:0 20px;">
            <div class="btn-group" role="group">
                <button id="cmdFileNew"     class="btn btn-default" role="button" title="New Project"><i class="glyphicon glyphicon-file"></i></button>
                <button id="cmdFileOpen"    class="btn btn-default" role="button" title="Open Project"><i class="glyphicon glyphicon-folder-open"></i></button>
            </div>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button id="cmdFileSave" class="btn btn-default" data-toggle="dropdown" title="Save Project"><i class="glyphicon glyphicon-download-alt"></i></button>
                    <button class="btn btn-default dropdown-toggle"  data-toggle="dropdown" title="Save Project As ..."><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#"><b>Save Project, Plaintext</b></a></li>
                        <li><a href="#">Save Project, Compressed</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button id="cmdFilePublish" href="#null" class="btn btn-default" role="button" title="Publish Project"><i class="glyphicon glyphicon-share"></i></button>
                    <button class="btn btn-default dropdown-toggle"  data-toggle="dropdown" title="Export Project As ..."><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Publish Project, TMX</a></li>
                        <li><a href="#"><b>Publish Project, FPTiles</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button id="cmdFileOptions" href="#null" class="btn btn-default" role="button" title="Project Options"><i class="glyphicon glyphicon-wrench"></i></button>
            </div>
            <div class="btn-group" role="group">
                <button id="cmdEditUndo" href="#null" class="btn btn-default" role="button" title="Undo"><i class="fa fa-reply"></i></button>
                <button id="cmdEditRedo" href="#null" class="btn btn-default" role="button" title="Redo"><i class="fa fa-share"></i></button>
            </div>
            <div class="btn-group pull-right" role="group" style="">
                <a id="cmdStatus" href="#null" class="btn btn-link" style="color:#000;">STATUS: <span id="txtStatusMessage">Ready.</span></a>
            </div>
        </div>
    </div>
</div>
